@import '~bootstrap/scss/bootstrap';

$page-bg: #ccc;
$main-bg: #fff;
$soft-border: #f9f9f9;
$shade: #b2b2b2;
$key-size: 40px;
$highlight: #d31717;
$lowlight: #153b66;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $page-bg;
  font: 90% / 1.5 sans-serif;
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: $lowlight;
  font-size: 4em;
  font-weight: 800;
  margin-top: 5vh;
  text-align: center;
  text-shadow: 1px 1px $highlight;
}

h2 {
  color: darken($highlight, 10%);
  font-family: monospace;
  font-size: 1.25em;
  text-align: center;
}

main {
  margin: 50px auto;
  width: 688px;
}

.clicked {
  box-shadow: inset 2px 2px 8px 2px $shade;
}

.hidden {
  display: none;
}

.keyboard {
  list-style: none;
  padding-left: 5px;

  li {
    background-color: $main-bg;
    border: 1px solid $soft-border;
    border-radius: 5px;
    float: left;
    height: $key-size;
    line-height: $key-size;
    margin: 0 5px 5px 0;
    text-align: center;
    width: $key-size;
  }

  .capslock,
  .return {
    width: $key-size + 40px;
  }

  .delete,
  .tab {
    width: $key-size + 33px;
  }

  .shift {
    width: $key-size + 62px;
  }

  .space {
    width: $key-size + 620px;
  }
}

.options {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
  button {
    font-size: 1em !important;
    margin-bottom: 10px;
  }
}

.screen {
  background: $main-bg;
  border: 1px solid $soft-border;
  border-radius: 5px;
  font: 1em/1.5 Verdana, Sans-Serif;
  height: 200px;
  margin: 0 0 5px;
  padding: 5px;
  pointer-events: none;
  width: 671px;
}
